In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import glob
import os

In [58]:
all_folder = glob.glob("comodity-price-prediction-penyisihan-arkavidia-9/Google Trend/*")

In [59]:
main_dir = "comodity-price-prediction-penyisihan-arkavidia-9/Google Trend/"

folders = [f for f in os.listdir(main_dir)]
folders

['.DS_Store',
 'cabai rawit',
 'daging ayam',
 'bawang merah',
 'tepung',
 'cabai',
 'bawang putih',
 'daging sapi',
 'daging',
 'minyak goreng',
 'tepung terigu',
 'gula',
 'beras',
 'cabai merah',
 'bawang',
 'telur ayam']

In [77]:
merge_dict = {}
df = pd.DataFrame()

for folder in folders:
    folder_path = os.path.join(main_dir, folder)
    
    all_files = glob.glob(folder_path + "/*.csv")
    commodity_name = os.path.basename(os.path.splitext(folder_path)[0])
    
    for file in all_files:
        data = pd.read_csv(file)
        provinsi = os.path.basename(os.path.splitext(file)[0])

        data = data.rename(columns={commodity_name : provinsi})
        data[provinsi] /= 100
        
        if commodity_name not in merge_dict:
            merge_dict[commodity_name] = []
        
        merge_dict[commodity_name].append(data)
        
    
for commodity_name in merge_dict:
    if commodity_name == "minyak goreng":

[           Date  Kalimantan Utara
0    2022-01-01               0.0
1    2022-01-02               0.0
2    2022-01-03               0.0
3    2022-01-04               0.0
4    2022-01-05               0.0
..          ...               ...
361  2023-12-29               NaN
362  2023-12-30               NaN
363  2023-12-31               NaN
364  2024-01-01               NaN
365  2024-01-02               NaN

[366 rows x 2 columns],             Date  Jawa Timur
0     2022-01-01    0.030000
1     2022-01-02    0.030000
2     2022-01-03    0.040000
3     2022-01-04    0.050000
4     2022-01-05    0.050000
...          ...         ...
999   2024-09-26    0.015897
1000  2024-09-27    0.020380
1001  2024-09-28    0.016304
1002  2024-09-29    0.017527
1003  2024-09-30    0.022011

[1004 rows x 2 columns],             Date  Sulawesi Selatan
0     2022-01-01               0.0
1     2022-01-02               0.0
2     2022-01-03               0.0
3     2022-01-04               0.1
4     2022-01-05               0.0
...          ...               ...
999   2024-09-26               0.0
1000  2024-09-27               0.0
1001  2024-09-28               0.0
1002  2024-09-29               0.0
1003  2024-09-30               0.0

[1004 rows x 2 columns],            Date  Sulawesi Barat
0    2022-01-01             0.0
1    2022-01-02             0.0
2    2022-01-03             0.0
3    2022-01-04             0.0
4    2022-01-05             0.0
..          ...             ...
633  2024-09-26             NaN
634  2024-09-27             NaN
635  2024-09-28             NaN
636  2024-09-29             NaN
637  2024-09-30             NaN

[638 rows x 2 columns],             Date  Jawa Barat
0     2022-01-01    0.030000
1     2022-01-02    0.030000
2     2022-01-03    0.030000
3     2022-01-04    0.040000
4     2022-01-05    0.040000
...          ...         ...
999   2024-09-26    0.013858
1000  2024-09-27    0.013292
1001  2024-09-28    0.011878
1002  2024-09-29    0.013575
1003  2024-09-30    0.012444

[1004 rows x 2 columns],            Date  Kalimantan Tengah
0    2022-01-01                0.0
1    2022-01-02                0.0
2    2022-01-03                0.0
3    2022-01-04                0.0
4    2022-01-05                0.0
..          ...                ...
910  2024-06-29                NaN
911  2024-06-30                NaN
912  2024-07-01                NaN
913  2024-07-02                NaN
914  2024-07-03                NaN

[915 rows x 2 columns],             Date  Indonesia
0     2022-01-01   0.030000
1     2022-01-02   0.030000
2     2022-01-03   0.030000
3     2022-01-04   0.040000
4     2022-01-05   0.040000
...          ...        ...
999   2024-09-26   0.019101
1000  2024-09-27   0.017310
1001  2024-09-28   0.016116
1002  2024-09-29   0.017907
1003  2024-09-30   0.022085

[1004 rows x 2 columns],             Date  DI Yogyakarta
0     2022-01-01            0.0
1     2022-01-02            0.0
2     2022-01-03            0.0
3     2022-01-04            0.0
4     2022-01-05            0.0
...          ...            ...
999   2024-09-26            0.0
1000  2024-09-27            0.0
1001  2024-09-28            0.0
1002  2024-09-29            0.0
1003  2024-09-30            0.0

[1004 rows x 2 columns],            Date  Papua
0    2022-01-01    0.0
1    2022-01-02    0.0
2    2022-01-03    0.0
3    2022-01-04    0.0
4    2022-01-05    0.0
..          ...    ...
727  2024-06-29    NaN
728  2024-06-30    NaN
729  2024-07-01    NaN
730  2024-07-02    NaN
731  2024-07-03    NaN

[732 rows x 2 columns],            Date  Lampung
0    2022-01-01      0.0
1    2022-01-02      0.0
2    2022-01-03      0.0
3    2022-01-04      0.0
4    2022-01-05      0.0
..          ...      ...
816  2024-09-26      0.0
817  2024-09-27      0.0
818  2024-09-28      0.0
819  2024-09-29      0.0
820  2024-09-30      0.0

[821 rows x 2 columns],             Date  Kalimantan Timur
0     2022-01-01               0.0
1     2022-01-02               0.0
2     2022-01-03               0.0
3     2022-01-04               0.0
4     2022-01-05               0.0
...          ...               ...
999   2024-09-26               0.0
1000  2024-09-27               0.0
1001  2024-09-28               0.0
1002  2024-09-29               0.0
1003  2024-09-30               0.0

[1004 rows x 2 columns],             Date    Banten
0     2022-01-01  0.040000
1     2022-01-02  0.030000
2     2022-01-03  0.030000
3     2022-01-04  0.000000
4     2022-01-05  0.030000
...          ...       ...
999   2024-09-26  0.000000
1000  2024-09-27  0.071884
1001  2024-09-28  0.000000
1002  2024-09-29  0.000000
1003  2024-09-30  0.000000

[1004 rows x 2 columns],             Date  Jawa Tengah
0     2022-01-01     0.030000
1     2022-01-02     0.040000
2     2022-01-03     0.030000
3     2022-01-04     0.040000
4     2022-01-05     0.050000
...          ...          ...
999   2024-09-26     0.024086
1000  2024-09-27     0.018065
1001  2024-09-28     0.018065
1002  2024-09-29     0.025806
1003  2024-09-30     0.022796

[1004 rows x 2 columns],             Date  Kalimantan Barat
0     2022-01-01           0.00000
1     2022-01-02           0.00000
2     2022-01-03           0.00000
3     2022-01-04           0.00000
4     2022-01-05           0.00000
...          ...               ...
999   2024-09-26           0.00000
1000  2024-09-27           0.33525
1001  2024-09-28           0.00000
1002  2024-09-29           0.00000
1003  2024-09-30           0.00000

[1004 rows x 2 columns],            Date  Sulawesi Utara
0    2022-01-01             0.0
1    2022-01-02             0.0
2    2022-01-03             0.0
3    2022-01-04             0.0
4    2022-01-05             0.0
..          ...             ...
727  2024-06-29             NaN
728  2024-06-30             NaN
729  2024-07-01             NaN
730  2024-07-02             NaN
731  2024-07-03             NaN

[732 rows x 2 columns],             Date  Kepulauan Bangka Belitung
0     2022-01-01                        0.0
1     2022-01-02                        0.0
2     2022-01-03                        0.0
3     2022-01-04                        0.0
4     2022-01-05                        0.0
...          ...                        ...
999   2024-09-26                        NaN
1000  2024-09-27                        NaN
1001  2024-09-28                        NaN
1002  2024-09-29                        NaN
1003  2024-09-30                        NaN

[1004 rows x 2 columns],            Date  Gorontalo
0    2022-01-01        0.0
1    2022-01-02        0.0
2    2022-01-03        0.0
3    2022-01-04        0.0
4    2022-01-05        0.0
..          ...        ...
633  2024-09-26        NaN
634  2024-09-27        NaN
635  2024-09-28        NaN
636  2024-09-29        NaN
637  2024-09-30        NaN

[638 rows x 2 columns],            Date  Kalimantan Selatan
0    2022-01-01                0.00
1    2022-01-02                0.00
2    2022-01-03                0.00
3    2022-01-04                0.00
4    2022-01-05                0.29
..          ...                 ...
816  2024-09-26                0.00
817  2024-09-27                0.00
818  2024-09-28                0.00
819  2024-09-29                0.00
820  2024-09-30                0.00

[821 rows x 2 columns],             Date  Sumatera Selatan
0     2022-01-01               0.0
1     2022-01-02               0.0
2     2022-01-03               0.0
3     2022-01-04               0.0
4     2022-01-05               0.0
...          ...               ...
999   2024-09-26               0.0
1000  2024-09-27               0.0
1001  2024-09-28               0.0
1002  2024-09-29               0.0
1003  2024-09-30               0.0

[1004 rows x 2 columns],             Date  Bengkulu
0     2022-01-01       0.0
1     2022-01-02       0.0
2     2022-01-03       0.0
3     2022-01-04       0.0
4     2022-01-05       0.0
...          ...       ...
999   2024-09-26       NaN
1000  2024-09-27       NaN
1001  2024-09-28       NaN
1002  2024-09-29       NaN
1003  2024-09-30       NaN

[1004 rows x 2 columns],             Date  DKI Jakarta
0     2022-01-01     0.020000
1     2022-01-02     0.030000
2     2022-01-03     0.040000
3     2022-01-04     0.050000
4     2022-01-05     0.040000
...          ...          ...
999   2024-09-26     0.022802
1000  2024-09-27     0.000000
1001  2024-09-28     0.000000
1002  2024-09-29     0.027273
1003  2024-09-30     0.035768

[1004 rows x 2 columns], Empty DataFrame
Columns: [Unnamed: 0, Date, Papua Barat]
Index: [],             Date  Riau
0     2022-01-01   0.0
1     2022-01-02   0.0
2     2022-01-03   0.0
3     2022-01-04   0.0
4     2022-01-05   0.0
...          ...   ...
999   2024-09-26   0.0
1000  2024-09-27   0.0
1001  2024-09-28   0.0
1002  2024-09-29   0.0
1003  2024-09-30   0.0

[1004 rows x 2 columns],            Date  Sumatera Barat
0    2022-01-01             0.0
1    2022-01-02             0.0
2    2022-01-03             0.0
3    2022-01-04             0.0
4    2022-01-05             0.0
..          ...             ...
633  2024-09-26             0.0
634  2024-09-27             0.0
635  2024-09-28             0.0
636  2024-09-29             0.0
637  2024-09-30             0.0

[638 rows x 2 columns],            Date  Sulawesi Tengah
0    2022-01-01              0.0
1    2022-01-02              0.0
2    2022-01-03              0.0
3    2022-01-04              0.0
4    2022-01-05              0.0
..          ...              ...
450  2024-09-26              NaN
451  2024-09-27              NaN
452  2024-09-28              NaN
453  2024-09-29              NaN
454  2024-09-30              NaN

[455 rows x 2 columns],            Date  Aceh
0    2022-01-01   0.0
1    2022-01-02   0.0
2    2022-01-03   0.0
3    2022-01-04   0.0
4    2022-01-05   0.0
..          ...   ...
450  2024-09-26   NaN
451  2024-09-27   NaN
452  2024-09-28   NaN
453  2024-09-29   NaN
454  2024-09-30   NaN

[455 rows x 2 columns],             Date  Bali
0     2022-01-01   0.0
1     2022-01-02   0.0
2     2022-01-03   0.0
3     2022-01-04   0.0
4     2022-01-05   0.0
...          ...   ...
999   2024-09-26   0.0
1000  2024-09-27   0.0
1001  2024-09-28   0.0
1002  2024-09-29   0.0
1003  2024-09-30   0.0

[1004 rows x 2 columns],            Date  Maluku Utara
0    2023-01-02           NaN
1    2023-01-03           NaN
2    2023-01-04           NaN
3    2023-01-05           NaN
4    2023-01-06           NaN
..          ...           ...
633  2024-09-26           NaN
634  2024-09-27           NaN
635  2024-09-28           NaN
636  2024-09-29           NaN
637  2024-09-30           NaN

[638 rows x 2 columns],             Date  Kepulauan Riau
0     2022-01-01             0.0
1     2022-01-02             0.0
2     2022-01-03             0.0
3     2022-01-04             0.0
4     2022-01-05             0.0
...          ...             ...
999   2024-09-26             NaN
1000  2024-09-27             NaN
1001  2024-09-28             NaN
1002  2024-09-29             NaN
1003  2024-09-30             NaN

[1004 rows x 2 columns],            Date  Jambi
0    2022-01-01    0.0
1    2022-01-02    0.0
2    2022-01-03    0.0
3    2022-01-04    0.0
4    2022-01-05    0.0
..          ...    ...
816  2024-09-26    NaN
817  2024-09-27    NaN
818  2024-09-28    NaN
819  2024-09-29    NaN
820  2024-09-30    NaN

[821 rows x 2 columns],             Date  Sumatera Utara
0     2022-01-01             0.0
1     2022-01-02             0.0
2     2022-01-03             0.0
3     2022-01-04             0.0
4     2022-01-05             0.0
...          ...             ...
999   2024-09-26             0.0
1000  2024-09-27             0.0
1001  2024-09-28             0.0
1002  2024-09-29             0.0
1003  2024-09-30             0.0

[1004 rows x 2 columns],            Date  Maluku
0    2022-01-01     NaN
1    2022-01-02     NaN
2    2022-01-03     NaN
3    2022-01-04     NaN
4    2022-01-05     NaN
..          ...     ...
450  2024-09-26     NaN
451  2024-09-27     NaN
452  2024-09-28     NaN
453  2024-09-29     NaN
454  2024-09-30     NaN

[455 rows x 2 columns],            Date  Nusa Tenggara Timur
0    2022-01-01                  0.0
1    2022-01-02                  0.0
2    2022-01-03                  0.0
3    2022-01-04                  0.0
4    2022-01-05                  0.0
..          ...                  ...
816  2024-09-26                  NaN
817  2024-09-27                  NaN
818  2024-09-28                  NaN
819  2024-09-29                  NaN
820  2024-09-30                  NaN

[821 rows x 2 columns],            Date  Sulawesi Tenggara
0    2022-01-01                0.0
1    2022-01-02                0.0
2    2022-01-03                0.0
3    2022-01-04                0.0
4    2022-01-05                0.0
..          ...                ...
727  2024-06-29                0.0
728  2024-06-30                0.0
729  2024-07-01                0.0
730  2024-07-02                0.0
731  2024-07-03                0.0

[732 rows x 2 columns],            Date  Nusa Tenggara Barat
0    2022-01-01                  0.0
1    2022-01-02                  0.0
2    2022-01-03                  0.0
3    2022-01-04                  0.0
4    2022-01-05                  0.0
..          ...                  ...
816  2024-09-26                  NaN
817  2024-09-27                  NaN
818  2024-09-28                  NaN
819  2024-09-29                  NaN
820  2024-09-30                  NaN

[821 rows x 2 columns]]

In [84]:
for commodity in merge_dict:
    merged_df = pd.DataFrame({"Date": []})

    for df in merge_dict[commodity]:
        if 'Unnamed: 0' in df.columns:
            df = df.drop(columns=['Unnamed: 0'])
            
        merged_df = pd.merge(right=merged_df, left=df, how="outer", on="Date")

    merged_df.to_csv(f"comodity-price-prediction-penyisihan-arkavidia-9/Google Trend Merged/{commodity}.csv", index=False)